.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
  font-weight: bold;
}

.navBar span:last-child {
  display: flex;
  gap: 15px;
}

.headline  {
  text-align: center;
}

.headline p{
  font-size: 1.8rem;
  font-weight: bold;
}

.headline a{
  text-decoration: none;
}

.imageCarousel{
  margin-top: 50px;
}

.imageCarousel p{
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.content h1 {
  margin: 0;
  position: relative;
  top: 50px;
  font-size: 5rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} /* ----------------------------------------------
* Generated by Animista on 2025-12-1 23:22:15
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation text-pop-up-top
* ----------------------------------------
*/
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 9px 0 #cccccc, 0 25px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 1px 0 #cccccc, 0 4px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
