
.container {
  display: flex;
  justify-content: center;
}

.pictureFrame {
  border-radius: 5px;
  border: lightgray 3px solid;
}

.pictureFrame img {
  width: 60vw;
  height: 400px;
}

.pictureFrame button {
  z-index: -1;
}

.imageNav {
  text-align: center;
}

.display {
  display: flex;
  align-items: center;
  gap: 5px;
}

.triangleLeft {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #444efc;
}

.triangleRight {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #434dfd;
}

.inactive {
  display: none;
}

@media (max-width:1130px){
  .pictureFrame img {
    width: 65vw;
    height: 300px;
  }
}


.fadeIn {
  border-radius: 5px;
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
   * Generated by Animista on 2025-12-1 23:14:23
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
