.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f4f5f7;
  color: black;
}

.container h1 {
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 20px;
}

.items > div {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  padding: 10px;
}

.items img {
  width: 100%;
  border-radius: 5px;
}

.items > div div {
  text-align: center;
}

.container button {
  color: white;
  background-color: #ff6600;
}

.container button:hover {
  background-color: #e05c00;
}
