.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #c6c7c749;
  color: black;
  overflow-x: hidden;
}

.container h1 {
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 20px;
}

.items > div {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  padding: 10px;
}

.items img {
  width: 100%;
  border-radius: 5px;
}

.buttonContainer {
  text-align: center;
}

.container button {
  color: white;
  background-color: #ff6600;
}

.container button:hover {
  background-color: #ff710c;
}

.items input {
  width: 60px;
  height: 20px;
  text-align: center;
}

.items label div {
  background-color: #ff6600;
  width: 25px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.items label div:hover {
  background-color: #e05c00;
}

.items label {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.cartSize {
  color: #e05c00;
  text-decoration: underline white;
  font-size: 80%;
  margin-right: 50px;
  position: relative;
  bottom: 30px;
  left: 45px;
}

.items p {
  margin: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card h2 {
  margin: 0;
}

.topic,
label {
  font-weight: bold;
}

@media (max-width: 700px) {
  .container h1 {
    font-size: 2rem;
  }
  .items {
    font-size: 0.9rem;
  }
}
